<article {{bindAttr class="headerImage::content-section :full-article"}}>
  {{#if headerImage}}
  <div class="hero-image">
    <img {{bind-attr src=headerImage}} />
  </div>
  {{/if}}
  <div class="row">
    <div {{bindAttr class="headerImage:image-header :entry-header :medium-10 :medium-push-1 :columns"}}>
      {{partial "entry-header"}}
    </div>
  </div>

  <div class="row entry-content">
    <div class="medium-10 medium-push-1 columns">

      {{#if category}}
        {{partial "category"}}
      {{/if}}

      {{{model.content}}}

      {{#if tags}}
        <div class="entry-taxonomy">
          {{partial "tags"}}
        </div>
      {{/if}}

    </div>
  </div>
</article>