<div class="row content-section">
  <div class="small-9 medium-offset-1 large-9 large-offset-0 columns">
    <h1>Entries</h1>
  </div>
  <div class="small-2 large-1 large-offset-2 end columns display-style">
    <span {{bind-attr class=":toggle-button :icon-menu gridLayout::active"}} {{action "toggleProp" "gridLayout"}}></span><span {{bind-attr class=":toggle-button :icon-grid gridLayout:active"}} {{action "toggleProp" "gridLayout"}}></span>
  </div>
</div>


<div {{bind-attr class="gridLayout:entry-grid:entry-list :row"}}>
  <hr>
  {{#if gridLayout}}
    {{#each}}
      <div class="small-12 medium-6 large-4 columns">
        {{partial "journal-grid-item"}}
      </div>
    {{/each}}
  {{else}}
    <div class="medium-10 medium-offset-1 large-9 large-offset-0 columns">
      {{#each}}
        {{partial "journal-item"}}
      {{/each}}
    </div>
  {{/if}}
</div>