<article>
	<h2>
		{{#if body}}
			{{title}}
		{{else}}
			{{#link-to 'journal.entry' id}} {{title}} {{/link-to}}
		{{/if}}
	</h2>
	<div class="meta">{{date}} at {{time}}</div>
	
	<div class="body">
		{{#if body}}
			{{{body}}}
		{{else}}
			{{{body}}}
		{{/if}}
	</div>
</article>