<article class="{{if model.headerImage '' 'content-section'}} full-article">
  {{#if model.headerImage}}
    <div class="hero-image">
      <img src="{{model.headerImage}}" />
    </div>
  {{/if}}
  <div class="row">
    <div class="{{if model.headerImage 'image-header'}} entry-header medium-9 medium-offset-2 columns">
      {{entry-header post=model}}
    </div>
  </div>

  <div class="row entry-content">
    <div class="medium-8 medium-offset-2 columns">

      {{!--#if category}}
        {{partial "category"}}
      {{/if--}}

      {{{model.content}}}

      {{!--#if tags}}
        <div class="entry-taxonomy">
          {{partial "tags"}}
        </div>
      {{/if--}}

    </div>
  </div>
</article>